* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  width: 256px;
  height: 36px;
  padding-left: 8px;
  padding-top: 9px;
  padding-bottom: 7px;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}
input:focus {
  outline: 0;
}
