{% extends 'base.html' %}
{% load static %}

{% block title %}
Instagram
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'users/login.css' %}">
{% endblock %}

{% block content %}

{% comment %} Main {% endcomment %}
    <main id="main">
      <div class="content-container">
        <section id="register">
          <form method="post" class="form">
            {% csrf_token %}
            {% if request.GET.next %}
              <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <div class="instagram-icon">
              <img
                src="{% static 'images/Instagram-wordmark-01.png' %}"
                alt="Instagram Icon"
              />
            </div>
            <div class="inputs">
              <div class="username-email">
                <input
                  type="text"
                  name="username"
                  id="username-email"
                  placeholder="Username"
                />
              </div>
              <div class="password">
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Password"
                />
              </div>
            </div>
            <div class="links">
              <button type="submit" class="btn">Login</button>
              <a href="{% url 'reset_password' %}" class="forgot-password">Forgot password?</a>
            </div>
          </form>
          <div class="sign-up">
            <p>Don't have an account? <a href="{% url 'users:sign-up' %}">Sign up</a></p>
          </div>
          <div class="sign-up"><a href="{% url 'core:homepage' %}">Enter as a guest</a></div>
        </section>
        <section id="images">
          <img src="{% static 'images/instagram.jpg' %}" alt="Instagram" />
        </section>
      </div>
    </main>

    {% comment %} Footer {% endcomment %}
    <footer id="footer">
      <div class="footer-container">
        <div class="footer-1">
          <a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">Meta</a><a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">About</a><a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">Blog</a
          ><a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">Jobs</a><a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">Help</a><a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">API</a
          ><a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">Privacy</a><a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">Terms</a
          ><a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">Top Accounts</a><a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">Hashtags</a
          ><a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">Locations</a><a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">Instagram Lite</a>
        </div>
        <div class="footer-2">
          <a href="#">Beauty</a><a href="#">Dance</a><a href="#">Fitness</a
          ><a href="#">Food & Drink</a><a href="#">Home & Garden</a
          ><a href="#">Music</a><a href="#">Visual Arts</a>
        </div>
        <div class="footer-3">
          <a href="#">English</a>
          <h5>&copy; 2022 Instagram from Meta</h5>
        </div>
      </div>
    </footer>
{% endblock%}