{% extends 'base.html' %}
{% load static %}

{% block title %}
Edit Profile • Instagram
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/homepage.css' %}">
<link rel="stylesheet" href="{% static 'users/profile-edit.css' %}" />
{% endblock %}


{% block content %}

    {% include 'core/includes/header.html' %}

    <main id="main">
        <div class="container">
            <form id="edit" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-field">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="reset-password">
                    <a href="{% url 'reset_password' %}">Reset Your Password</a>
                </div>
                <div class="btns">
                    <a class="cancel" href="{% url 'core:user-account' request.user.profile.slug %}">Cancel</a>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </main>
    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}
