{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/homepage.css' %}" />
    <link rel="stylesheet" href="{% static 'users/profile-list.css' %}" />
{% endblock %}
{% block title %}Search Results{% endblock %}

{% block content %}

  {% include 'core/includes/header.html' %}

    <main id="main">
        <div class="container">
            <section class="profiles">
                {% for profile in profiles %}
                <a href="{% url 'core:user-account' profile.slug %}" class="profile">
                    <div class="profile__picture">
                        <img src="{{ profile.image.url }}" alt="{{ profile.username }}">
                    </div>
                    <div class="profile__username">
                        <p>{{ profile.username }}</p>
                    </div>
                    <div class="profile__bio">
                        <p>{{ profile.bio }}</p>
                    </div>
                </a>
                {% endfor %}
            </section>
        </div>
    </main>
    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}
