{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/homepage.css' %}" />
    <link rel="stylesheet" href="{% static 'users/reset-password.css' %}" />
{% endblock %}
{% block title %}Reset your password{% endblock %}

{% block content %}

  {% include 'core/includes/header.html' %}

    <main id="main">
        <div class="container">
            <section class="password-reset">
                <h3>Password reset</h3>
                <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button class="button" type="submit">Reset my password</button>
                </form>
            </section>
        </div>
    </main>
    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}
