{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/homepage.css' %}" />
    <link rel="stylesheet" href="{% static 'users/reset-password.css' %}" />
{% endblock %}
{% block title %}Password reset complete{% endblock %}

{% block content %}

  {% include 'core/includes/header.html' %} 

    <main id="main">
        <div class="container">
            <section class="password-reset">
                <h3>Password reset complete</h3>
                <p>Your password has been set. You may go ahead and log in now.</p>
                <a href="{% url 'users:log-in' %}" class="button" style="padding: .4rem;">Log in</a>
            </section>
        </div>
    </main>
    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}
