{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/homepage.css' %}" />
    <link rel="stylesheet" href="{% static 'users/reset-password.css' %}" />
{% endblock %}
{% block title %}Password reset sent{% endblock %}

{% block content %}

  {% include 'core/includes/header.html' %}

    <main id="main">
        <div class="container">
            <section class="password-reset">
                <h3>Password reset sent</h3>
                <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
            </section>
        </div>
    </main>
    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}
