{% extends 'base.html' %} 
{% load static %} 
{% block title %}
Sign Up • Instagram
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'users/sign-up.css' %}"
{% endblock %}

{% block content %}
<div class="container">
  <main id="main">
    <div class="content-container">
      <section id="register">
        <form method="post" class="form">
          {% csrf_token %}
          <div class="instagram-icon">
            <img
              src="{% static 'images/Instagram-wordmark-small.png' %}"
              alt="Instagram Icon"
            />
          </div>
          <h3>Sign up to see photos and videos from your friends.</h3>
          <div class="inputs">
            {{ form }}
            {% if form.errors %}
              {{ errors }}
            {% endif %}
          </div>
          <div class="links">
            <button type="submit" class="btn">Sign Up</button>
          </div>
        </form>
        <div class="sign-up">
          <p>Have an account? <a href="{% url 'users:log-in' %}">Log in</a></p>
        </div>
      </section>
    </div>
  </main>
  <footer id="footer">
    <div class="footer-container">
      <div class="footer-1">
        <a href="#">Meta</a><a href="#">About</a><a href="#">Blog</a
        ><a href="#">Jobs</a><a href="#">Help</a><a href="#">API</a
        ><a href="#">Privacy</a><a href="#">Terms</a
        ><a href="#">Top Accounts</a>
      </div>
      <div class="footer-2">
        <a href="#">Hashtags</a><a href="#">Locations</a
        ><a href="#">Instagram Lite</a>
      </div>
      <div class="footer-3">
        <a href="#">English</a>
        <h5>&copy; 2021 Instagram from Meta</h5>
      </div>
    </div>
  </footer>
</div>
{% endblock %}
