.hidden {
  display: none; }

#main {
  width: 100%;
  height: 100%; }
  #main .container {
    width: 100%;
    max-width: 975px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 1rem; }
  #main .container .post {
    margin: auto; }
  #main .post img {
    width: 100%; }

@media screen and (max-width: 735px) {
  #main .container {
    gap: .5rem; } }
