{% extends 'base.html' %}
{% load static %}

{% block title %}
    Page Not Found • Instagram
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/homepage.css' %}">
    <style>
        #main .container {
            width: 100%;
            max-width: 975px;
            text-align: center;
            color: #262626; }
        #main .container h3 {
            font-size: 22px; }
        #main .container p {
            font-size: 1rem; }

        #footer {
            width: 100%; }
            #footer .container {
              width: 100%;
              max-width: 975px;
              margin: auto;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: flex-start;
              border-top: 1px solid #dbdbdb;
              margin-top: 1rem;
              padding: .5rem 0; }
              #footer .container .tags {
                align-items: center;
                text-align: center;
                margin-top: 0; }
    </style>
{% endblock %}

{% block content %}

{% include 'core/includes/header.html' %}

<div id="main">
    <div class="container">
        <h3>Sorry, this page isn't available.</h3>
        <p>The link you followed may be broken, or the page may have been removed. </p><a href="{% url 'core:homepage' %}">Go back to Instagram.</a>
    </div>
</div>

<footer id="footer">
    <div class="container">
      <div class="tags">
          <div class="tags-first-row">
              <a href="#">About</a><a href="#">Help</a><a href="#">Press</a><a href="#">API</a>
              <a href="#">Jobs</a>
              <a href="#">Privacy</a><a href="#">Terms</a>
          </div>
          <div class="tags-second-row">
              <a href="#">Locations</a><a href="#">Top Accounts</a><a href="#">Hashtags</a><a href="#">Language</a>
          </div>
      </div>
      <div class="copy-rights">
          <small>&copy; 2022 INSTAGRAM FROM META</small>
      </div>
    </div> 
  </footer>

<script src="{% static 'js/app.js' %}"></script>
{% endblock %}