{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/bc2a3a5e96.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="{% static 'images/instagram-icon.png' %}" type="image/x-icon" />
  <title>{% block title %}Instagram{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'main.css' %}"/>
  {% block css %}{% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    {% if messages %}
    {% for message in messages %}
      <div class="alert alert--{{ message.tags }}">
        <p class="alert__message">{{ message }}</p>
        <button class="alert__close">x</button>
      </div>
    {% endfor %}
    {% endif %}
    <script src="{% static 'js/flash_messages.js' %}"></script>
</body>
</html>