{% extends 'base.html' %}
{% load static %}

{% block title %}
  Instagram
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/homepage.css' %}" />
    <link rel="stylesheet" href="{% static 'core/user-account.css' %}" />
{% endblock %}

{% block content %}

  {% include 'core/includes/header.html' %}

    <main id="main">
      <div class="main__content-container">
        <div class="main__content">
          <div class="posts">
          {% if posts %}
          {% for post in posts %}
            <div class="post">
              <div class="post-top">
                <div class="post__profile-links">
                  {% if post.profile.image %}
                  <img class="poster__picture" src="{{ post.profile.image.url }}" />
                  {% endif %}
                  <div class="poster__username">
                    <a href="{% url 'core:user-account' post.profile.slug %}">{{ post.profile.username }}</a>
                  </div>
                </div>
                <div class="poster-more"><i class="fas fa-ellipsis-h"></i></div>
              </div>
              <div class="post__picture">
                <img src="{{ post.image.url }}" alt="{{ post.profile.username }} post picture"/>
              </div>
              <div class="post__interaction">
                <div class="post__interaction-left">
                  <form id="post-like" method="post">
                    {% csrf_token %}
                    {{ like_post_form }}
                    {% if post in post_likes %}
                    <input type="hidden" name="dislike_post_id" value="{{ post.id }}">
                    <button type="submit"><i style="color: red;" class="fas fa-heart fa-lg"></i></button>
                    {% else %}
                    <input type="hidden" name="like_post_id" value="{{ post.id }}">
                    <button type="submit"><i class="far fa-heart fa-lg"></i></button>
                    {% endif %}
                  </form>
                </div>
                <div class="post__interaction-right">
                  <form id="post-save" method="post">
                    {% csrf_token %}
                    {{ save_post_form }}
                    {% if post in saved_posts %}
                    <input type="hidden" name="post_unsave_id" value="{{ post.id }}">
                    <button type="submit"><i class="fas fa-save fa-lg"></i></button>
                    {% else %}
                    <input type="hidden" name="post_save_id" value="{{ post.id }}">
                    <button type="submit"><i class="far fa-save fa-lg"></i></button>
                    {% endif %}
                  </form>
                </div>
              </div>
              <div class="post__likes">{{ post.post_like.count }} likes</div>
              <div class="post__bio">
                <a href="{% url 'core:user-account' post.profile.slug %}">{{ post.profile.username }}</a>
                <p>
                  {{ post.content }}
                </p>
              </div>
              <div class="post__comments">
                <p class="comments__title">Comments</p>
                <div class="comments">
                  {% for comment in post.comments.all %}
                  <div class="comment">
                    <a href="{% url 'core:user-account' comment.profile.slug %}" class="comment__author">{{ comment.profile.username }}</a>
                    <p class="comment__content">
                      {{ comment.content }}
                    </p>
                  </div>
                  {% endfor %}
                </div>
                <div class="post__date-created">
                  <small>{{ post.date_created_ago_format }}</small>
                </div>
                <div class="comment__add">
                  <form action="{% url 'core:homepage' %}" method="post">
                    {% csrf_token %}
                    {% comment %} <input
                      type="text"
                      name="comment"
                      id="comment"
                      placeholder="Add a comment..."
                    /> {% endcomment %}
                    {{ comment_form }}
                    {% if request.user.is_authenticated %}
                    <input type="hidden" name="post_id" value="{{ post.id }}"> <!--To use this id for adding a comment to this post-->
                    <button type="submit">Post</button>
                    {% endif %}
                  </form>
                </div>
              </div>
              <div class="post__date-created"></div>
            </div>
            {% endfor %}
          {% else %}
            <h2 style="color: #8e8e8e; text-align: center;">No posts from you or your following users yet!</h2>
          {% endif %}
          </div>
          <div class="spacefiller"></div>
          <div class="suggestions">
            {% if request.user.is_authenticated %}
            <div class="user-account">
              <div class="user-profile__picture">
                <img src="{{ request.user.profile.image.url }}" alt="{{ request.user.profile.username }}">
              </div>
              <div class="user-info">
                <a href="{% url 'core:user-account' request.user.profile.slug %}">{{ request.user.profile.username }}</a>
                <small>{{ request.user.profile.first_name }} {{ request.user.profile.last_name }}</small>
              </div>
              <a href="{% url 'core:user-account' request.user.profile.slug %}">Switch</a>
            </div>
            {% endif %}
            <div class="suggestion-accounts">
              <div class="suggestion-accounts__header">
                <h4>Suggestions For You</h4>
              </div>
              {% if request.user.is_authenticated %}
                {% for suggested_user in suggested_users %}
                {% if suggested_user != request.user.profile %}
                <div class="suggested-users">
                  <div class="suggested-users__profile-picture">
                    <img src="{{ suggested_user.image.url }}" alt="{{ suggested_user.image.url }}">
                  </div>
                  <a href="{% url 'core:user-account' suggested_user.slug %}" class="suggested-users__info">{{ suggested_user.username }}</a>
                  {% comment %} <form method="post">
                    <input type="hidden" name="suggested_user_id" value="{{ suggested_user.pk }}">
                    <button type="submit">Follow</button>
                  </form> {% endcomment %}
                </div>
                {% endif %}
                {% endfor %}
              {% else %}
                <a class="suggested-login" href="{% url 'users:log-in' %}">Log In</a>
              {% endif %}
            </div>
            <div class="tags">
              <div class="tags-first-row">
                <a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">About</a><a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">Help</a><a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">Press</a
                ><a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">API</a>
                <a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">Jobs</a>
                <a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">Privacy</a><a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">Terms</a>
              </div>
              <div class="tags-second-row">
                <a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">Locations</a><a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">Top Accounts</a
                ><a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">Hashtags</a><a href="https://www.instagram.com/" target="_blank" title="You will be redirected to the real instagram!">Language</a>
              </div>
            </div>
            <div class="copy-rights">
              <small>&copy; 2022 INSTAGRAM FROM META</small>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}
