{% extends 'base.html' %}
{% load static %}

{% block title %}
  Instagram
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/homepage.css' %}" />
    <link rel="stylesheet" href="{% static 'core/user-account.css' %}" />
{% endblock %}

{% block content %}
    <header id="header">
      <div class="nav-container">
        <section class="navbar">
          <a href="{% url 'core:homepage' %}"
            ><div class="instagram-icon">
              <img
                src="{% static 'images/instagram-wordmark-small.png' %}"
                alt="Instagram"
              /></div
          ></a>
          <div class="search">
            <form action="{% url 'users:search-results' %}" method="post">
              {% csrf_token %}
              <input
              type="search"
              name="search_query"
              id="search_query"
              placeholder="Search"
            />
            <button type="submit">Search</button>
            </form>
          </div>
          <div class="icons">
            <a href="{% url 'core:homepage' %}"><i class="fas fa-home fa-lg"></i></a>
            <a href="#"><i class="far fa-comments fa-lg"></i></a>
            <a href="{% url 'core:add-post' %}"><i class="fas fa-plus fa-lg"></i></a
            ><a href=""><i class="fas fa-search fa-lg"></i></a>
            <a href="#"><i class="far fa-heart fa-lg"></i></a>
            <a href="#"><i class="fas fa-user fa-lg"></i></a>
          </div>
        </section>
      </div>
    </header>
    <main id="main">
      <div class="main__content-container">
        <div class="main__content">
          <div class="posts">
          {% for post in posts %}
            <div class="post">
              <div class="post-top">
                <div class="post__profile-links">
                  {% if post.profile.image %}
                  <img class="poster__picture" src="{{ post.profile.image.url }}" />
                  {% endif %}
                  <div class="poster__username">
                    <a href="{% url 'core:user-account' post.profile.slug %}">{{ post.profile.username }}</a>
                  </div>
                </div>
                <div class="poster-more"><i class="fas fa-ellipsis-h"></i></div>
              </div>
              <div class="post__picture">
                <img src="{{ post.image.url }}" alt="{{ post.profile.username }} post picture"/>
              </div>
              <div class="post__interaction">
                <div class="post__interaction-left">
                  <form id="post-like" method="post">
                    {% csrf_token %}
                    {{ like_post_form }}
                    {% if post in post_likes %}
                    <input type="hidden" name="dislike_post_id" value="{{ post.id }}">
                    <button type="submit"><i style="color: red;" class="fas fa-heart fa-lg"></i></button>
                    {% else %}
                    <input type="hidden" name="like_post_id" value="{{ post.id }}">
                    <button type="submit"><i class="far fa-heart fa-lg"></i></button>
                    {% endif %}
                  </form>
                  <a href="#"><i class="fa fa-commenting-o fa-lg"></i></a>
                  <a href="#"><i class="far fa-comments fa-lg"></i></a>
                </div>
                <div class="post__interaction-right">
                  <a href="#"><i class="far fa-save fa-lg"></i></a>
                </div>
              </div>
              <div class="post__likes">{{ post.post_like.count }} likes</div>
              <div class="post__bio">
                <a href="{% url 'core:user-account' post.profile.slug %}">{{ post.profile.username }}</a>
                <p>
                  {{ post.content }}
                </p>
              </div>
              <div class="post__comments">
                <p class="comments__title">Comments</p>
                <div class="comments">
                  {% for comment in post.comments.all %}
                  <div class="comment">
                    <a href="{% url 'core:user-account' comment.profile.slug %}" class="comment__author">{{ comment.profile.username }}</a>
                    <p class="comment__content">
                      {{ comment.content }}
                    </p>
                  </div>
                  {% endfor %}
                </div>
                <div class="post__date-created">
                  <small>{{ post.date_created_ago_format }}</small>
                </div>
                <div class="comment__add">
                  <form action="{% url 'core:homepage' %}" method="post">
                    {% csrf_token %}
                    {% comment %} <input
                      type="text"
                      name="comment"
                      id="comment"
                      placeholder="Add a comment..."
                    /> {% endcomment %}
                    {{ comment_form }}
                    {% if request.user.is_authenticated %}
                    <input type="hidden" name="post_id" value="{{ post.id }}"> <!--To use this id for adding a comment to this post-->
                    <button type="submit">Post</button>
                    {% endif %}
                  </form>
                </div>
              </div>
              <div class="post__date-created"></div>
            </div>
            {% endfor %}
          </div>
          <div class="spacefiller"></div>
          <div class="suggestions">
            {% if request.user.is_authenticated %}
            <div class="user-account">
              <div class="user-profile__picture">
                <div class="img"></div>
              </div>
              <div class="user-info">
                <a href="{% url 'core:user-account' request.user.profile.slug %}">{{ request.user.profile.username }}</a>
                <small>{{ request.user.profile.first_name }} {{ request.user.profile.last_name }}</small>
              </div>
              <a href="{% url 'core:user-account' request.user.profile.slug %}">Switch</a>
            </div>
            {% endif %}
            <div class="suggestion-accounts">
              <div class="suggestion-accounts__header">
                <h4>Suggestions For You</h4>
              </div>
              {% if request.user.is_authenticated %}
                {% for suggested_user in suggested_users %}
                <div class="suggested-users">
                  <div class="suggested-users__profile-picture"></div>
                  <div class="suggested-users__info">{{ suggested_user.username }}</div>
                  <form method="post">
                    <input type="hidden" name="suggested_user_id" value="{{ suggested_user.pk }}">
                    <button type="submit">Follow</button>
                  </form>
                </div>
                {% endfor %}
              {% else %}
                <a class="suggested-login" href="{% url 'users:log-in' %}">Log In</a>
              {% endif %}
            </div>
            <div class="tags">
              <div class="tags-first-row">
                <a href="#">About</a><a href="#">Help</a><a href="#">Press</a
                ><a href="#">API</a>
                <a href="#">Jobs</a>
                <a href="#">Privacy</a><a href="#">Terms</a>
              </div>
              <div class="tags-second-row">
                <a href="#">Locations</a><a href="#">Top Accounts</a
                ><a href="#">Hashtags</a><a href="#">Language</a>
              </div>
            </div>
            <div class="copy-rights">
              <small>&copy; 2021 INSTAGRAM FROM META</small>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock %}
