{% extends 'base.html' %}
{% load static %}

{% block title %}
  Instagram
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/homepage.css' %}" />
    <link rel="stylesheet" href="{% static 'core/post-detail.css' %}" />
{% endblock %}

{% block content %}
    <div class="post">
      <div class="post-top">
        <div class="post__profile-links">
          <div class="poster__picture"></div>
          <div class="poster__username">
            <a href="{% url 'core:user-account' post.profile.slug %}">{{ post.profile.username }}</a>
          </div>
        </div>
        <a href="#" class="poster-return"><i class="fa fa-angle-left"></i></a>
      </div>
      <div class="post-details">
        <div class="post__picture">
          <img
            src="{{ post.image.url }}"
            alt="{{ post.profile.username }} post image"
          />
        </div>
        <div class="under-picture">
          <div class="post__bio">
            <a href="{% url 'core:user-account' post.profile.slug %}">{{ post.profile.username }}</a>
            <p>
              {{ post.content|linebreaks }}
            </p>
          </div>
          <div class="post__comments">
            <p class="comments__title">Comments</p>
            <div class="comments">
              {% for comment in post.comments.all %}
              <div class="comment">
                <a href="{% url 'core:user-account' comment.profile.slug %}" class="comment__author">{{ comment.profile.username }}</a>
                <p class="comment__content">
                  {{ comment.content|linebreaks }}
                </p>
              </div>
              {% endfor %}
            </div>
            <div class="comment__add">
              <form action="#" method="post">
                <input
                  type="text"
                  name="comment"
                  id="comment"
                  placeholder="Add a comment..."
                />
                <button type="submit">Post</button>
              </form>
            </div>
          </div>
          <div class="post__interaction">
            <div class="post__interaction-left">
              <a href="#"><i class="far fa-heart fa-lg"></i></a>
              <a href="#"><i class="fa fa-commenting-o fa-lg"></i></a>
              <a href="#"><i class="far fa-comments fa-lg"></i></a>
            </div>
            <div class="post__interaction-right">
              <a href="#"><i class="far fa-save fa-lg"></i></a>
            </div>
          </div>
          <div class="post__likes">2100 likes</div>
          <div class="post__date-created">
            <small>4 HOURS AGO</small>
          </div>
        </div>
      </div>
    </div>
{% endblock %}