{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/homepage.css' %}" />
    <link rel="stylesheet" href="{% static 'core/user-account.css' %}" />
{% endblock %}
{% block title %}{{ profile.first_name|title }} {{ profile.last_name|title }}(@{{ profile.username }}){% endblock %}

{% block content %}

  {% include 'core/includes/header.html' %}

    <main id="user-main">
      <div class="user-container">
        <div class="user-information">
          <div class="user-profile__picture">
            {% if profile.image %}
            <img src="{{ profile.image.url }}" alt="{{ profile.username }} Profile Picture">
            {% else %}
            <div class="picture"></div>
            {% endif %}
          </div>
          <div class="user-profile__details">
            <div class="user-name-interaction">
              <p class="user-username">{{ profile.username }}</p>
              <div class="user-interaction">
                {% if request.user.is_authenticated %}
                {% if request_user_is_follower %}
                <a href="{% url 'core:coming-soon' %}" class="user-send-message">Message</a>
                <form method="post" style="{% if request.user.profile == profile %} display:none;{% endif %}">
                  {% csrf_token %}
                  <input type="hidden" name="user-unfollow" value="True">
                  <button type="submit" class="user-unfollow"
                    ><i class="fas fa-user-check"></i
                  ></button>
                </form>
                {% else %}
                <form method="post" style="{% if request.user.profile == profile %} display:none;{% endif %}">
                  {% csrf_token %}
                  <input type="hidden" name="user-follow" value="True">
                  <button type="submit" class="user-follow">Follow</button> 
                </form>
                {% endif %}
                {% if request.user.profile == profile %}
                <a class="btn" href="{% url 'users:edit-profile' profile.slug %}">Edit Profile</a>
                <a class="btn" href="{% url 'core:delete-post' %}">Delete a post</a>
                <a class="saved-posts" href="{% url 'core:saved-posts' %}"><i class="fa fa-bookmark-o fa-lg"></i></a>
                {% endif %}
                {% else %}
                <a href="{% url 'users:log-in' %}" class="user-follow">Follow</a> <!--Guests should log in first before following someone-->
                {% endif %}
              </div>
            </div>
            <div class="user-follow-post-count">
              <p><strong>{{ profile.posts.count }} </strong>posts</p>
              <p><strong>{{ followers.count }} </strong>followers</p>
              <p><strong>{{ followings.count }} </strong>following</p>
            </div>
            <div class="user-bio">
              {{ profile.bio|slice:":310"}}
            </div>
          </div>
        </div>
        <div class="user-posts">
          {% for post in profile.posts.all %}
          <a href="{% url 'core:post' slug=post.profile.slug pk=post.pk %}" class="user-post">
            <img
              src="{{ post.image.url }}"
              alt="{{ post.profile.username }} Post"
            />
          </a>
          {% endfor %}
        </div>
      </div>
    </main>
    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}
