.container {
    margin: auto;
    width: 100%;
    max-width: 900px;
    line-height: 2;
    border: 1px solid #dbdbdb;
    padding: 2rem;
}

form input {
    margin-bottom: 1rem;
}

.button {
    color: #fff;
    background-color: #0095f6;
    border: 0.1px solid #0095f6;
    border-radius: 3px;
    transition: 0.4s all ease-in-out;
    padding: .6rem .5rem;
}

.button:hover,
.button:active {
    opacity: .9;
    cursor: pointer;
}