#main .container {
    background-color: #fff;
    width: 100%;
    max-width: 975px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: .5rem 1rem;
    border: 1px solid #dbdbdb;
}

.return-to-profile a {
    color: #0095f6;
}

.delete-posts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.delete-post {
    padding: 1rem;
    border-bottom: 1px solid #8e8e8e;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-post:last-of-type {
    border: none;
}

.delete-post a img {
    object-fit: cover;
    width: 100%;
    max-width: 150px;
}

.delete-post form button {
    border: 1px solid #498ab4;
    border-radius: 4px;
    border: 1px solid #ff4567;
    background-color: #ff4567;
    transition: .4s background ease-in-out;
    color: #fff;
    border-radius: 4px;
    padding: 3.5px 7.5px; 
    margin-left: 1rem;
}

.delete-post form button:hover,
.delete-post form button:active {
    background-color: #b21733;
    border-color: #b21733; 
    cursor: pointer;
}
