* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #fafafa; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.post {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .post .post-details {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    border: 1px solid #e1e1e1;
    padding: 0.5rem;
    padding-right: 0; }
  .post .post-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    border: 1px solid #e1e1e1;
    border-bottom: none;
    width: 100%; }
    .post .post-top .post__profile-links {
      display: flex;
      justify-content: center;
      align-items: center; }
      .post .post-top .post__profile-links .poster__picture {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #000;
        margin-right: 0.75rem; }
      .post .post-top .post__profile-links .poster__username a {
        color: #000;
        font-weight: bold; }
        .post .post-top .post__profile-links .poster__username a:active, .post .post-top .post__profile-links .poster__username a:hover {
          text-decoration: underline; }

.post__picture img {
  width: 614px;
  object-fit: cover; }

.post__interaction {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px; }
  
  .post__interaction a {
    color: #000; }

  .post .post-details .under-picture .post__interaction #post-like {
    display: inline; } 
  .post .post-details .under-picture .post__interaction #post-like button,
  .post .post-details .under-picture .post__interaction #post-save button {
  background-color: transparent;
  border: none; }
  .post .post-details .under-picture .post__interaction #post-like button:active,
  .post .post-details .under-picture .post__interaction #post-like button:hover,
  .post .post-details .under-picture .post__interaction #post-save button:active,
  .post .post-details .under-picture .post__interaction #post-save button:hover {
    cursor: pointer; }

.post__likes {
  font-weight: bold;
  padding-left: 14px;
  margin-bottom: 0.4rem; }

.post__bio {
  padding-left: 14px;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 0.5rem; }
  .post__bio a {
    color: #000;
    font-weight: bold; }
    .post__bio a:active, .post__bio a:hover {
      text-decoration: underline; }
  .post__bio p {
    margin-top: 0.4rem; }

.post__comments {
  padding-left: 14px;
  margin: 0.4rem 0;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
  padding-bottom: 0.5rem; }
  .post__comments .comments__title {
    color: #8e8e8e; }
  .post__comments .comments {
    margin-top: 0.4rem; }
    .post__comments .comments .comment__author {
      font-weight: bold;
      color: #000; }
    .post__comments .comments .comment__content {
      display: inline; }
  .post__comments .comment__add {
    border-top: none; }

.post__date-created {
  padding-left: 14px; }

.poster-return {
  color: #0095f6; }

@media screen and (max-width: 950px) {
  .post .post-top {
    width: 100%; }
  .post .post__picture {
    width: 100%; }
    .post .post__picture img {
      width: 100%; }
  .post .post-details {
    flex-direction: column;
    padding: 0; }
    .post .post-details .under-picture {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      .post .post-details .under-picture .post__interaction {
        order: 1;
        width: 100%; }
      .post .post-details .under-picture .post__likes {
        order: 2; }
      .post .post-details .under-picture .post__bio {
        order: 3;
        border: none; }
      .post .post-details .under-picture .post__comments {
        order: 4;
        border: none; }
      .post .post-details .under-picture .post__date-created {
        order: 5; } }
